{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password change' %}</div>{% endblock %}

{% block content %}
  <p>비밀번호는 유추하기 어려운 방식으로 영문 대/소문자와 숫자 특수문자를 섞어서 사용하세요.</p>
  <form method="post" id="password_change_form">
    {% csrf_token %}
    {{ form.as_table }}
    <tr>
        <td></td>
        <td><input type="submit" value="{% trans 'Change my password' %}" /></td>
    </tr>
  </form>
{% endblock %}
