
{% extends "base.html" %}
{% block content %}
{% load static %}
{% load humanize %}

<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{{ room.image.url }}" alt="{{ room.PRD_name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ room.PRD_name }}</h5>
                        <p class="card-text">{{ room.content }}</p>
                        <p class="card-price text-right">{{ room.price|intcomma }} 원</p>
                        <form method="POST" id="add-to-cart-form" class="d-flex">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ room.id }}">
                            <input type="hidden" name="quantity" value="1">
                            <a href="{% url 'room_service:checkout' %}" class="btn btn-outline-secondary flex-fill mr-2 rounded btn-custom">주문하기</a>
                            <button type="button" id="add-to-cart-button" class="btn order-button flex-fill rounded btn-custom">장바구니</button>
                        </form>
                    </div>
                </div>
                <script>
                    document.getElementById('add-to-cart-button').addEventListener('click', function() {
                        var form = document.getElementById('add-to-cart-form');
                        var formData = new FormData(form);
                        
                        fetch("{% url 'room_service:add_to_cart' %}", {
                            method: 'POST',
                            body: formData,
                            headers: {
                                'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                            }
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (confirm(data.message + " 장바구니로 이동하시겠습니까?")) {
                                window.location.href = "{% url 'room_service:cart' %}";
                            }
                        });
                    });
                </script>
                <div class="container mt-4">
                    <div class="col text-center">
                        <a href="/room_service/room/BAS" class="btn btn-block my-button_b my-button_b">목록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}

